[package]
name = "scoped-fs"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true

[dependencies]
thiserror.workspace = true
serde.workspace = true
