[package]
name = "scoped-fs"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true

[dependencies]
async-trait.workspace = true
tokio.workspace = true
http.workspace = true
thiserror.workspace = true
serde.workspace = true
