:root {}

html,
body {
  margin: 0;
}

file-browser {
  width: 100%;

  table {

    width: 100%;
  }
}

file-item {
  display: table-row;
  min-height: 40px;
  height: 40px;

  &:nth-of-type(2n+1) {
    background: #EEE;
  }
}
